/* remove outline from buttons */
.btn:focus,
.btn:active,
.btn:focus-visible,
.bg-dark .btn:focus:not([data-focus-mouse=true]) {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

/* remove outline from list  links */
.list-item:focus,
.list-item:active,
.list-item:focus-visible,
.list-item:focus-within {
	outline: none !important;
	box-shadow: none !important;
	border: none !important;
}
